<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink=""  class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left ">
      <li routerLinkActive="active"><a routerLink="/login" >Login </a></li>
      <li routerLinkActive="active"><a routerLink="/roupas" [queryParams]="{pagina:1}" >Roupas </a></li>
      <!--<li routerLinkActive="active"><a [routerLink]="['roupa',idCurso.value]" >Roupa com ID </a></li>-->
      <li routerLinkActive="active"><a routerLink="/clientes" >Clientes </a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <!--<p>Entre com o ID de Roupas</p>
  <input #idCurso />-->
  <router-outlet></router-outlet>
</div>

